<!doctype html>
<html>
  <head>
    <title>openanno :: admin panel</title>
    <link rel="stylesheet" type="text/css" href="/css/stats.css">
    <script src="/js/jquery-1.4.2.min.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/admin.js"></script>
  <body>
    <header>
      <h1>Admin Viewer Thing</h1>
    </header>
    <%= yield %>
