<h1>Docs</h1>
<br><br>
<% if @email_sent %>
  <p class="flash">Thanks for signing up. An email containing your API key was sent out</p>
<% end %>

<h3>First Steps</h3>

<p>Make sure you have your API key ready. If you don't have one yet, <a href="http://openanno.com">click here</a> and sign up.</p>

<p>Go to your command line and do the following (make sure to replace your api key and perhaps <b>some_object</b>)</p>

<pre>curl -i -X POST -d '[{"example_type":{"awesome_factor":"10"}}]'  \
      http://openanno.com/api/<b>some_object</b>?api_key=<b>your_api_key</b></pre>

<p>Congratulations! You have just annotated <b>some_object</b>. Let's try a GET on that object to see if the annotations came through: (note that you don't need an API key for this. Pulling stuff is public)</p>

<pre>curl http://openanno.com/api/<b>some_object</b></pre>


<h3>How does this work</h3>
<p>As you can see we are annotating the object with an array of a hash of hashes. We use exactly the same data model that Twitter annotations use. Refer to <a href="https://apiwiki.twitter.com/Annotations-Hackfest-May-25th">their documentation</a> and staff for support.

<p>Feel free to check out the sourcecode of all this at <a href="http://github.com/deepthawtz/openanno">github</a>.</p>
<p>The entire thing is a sinatra app running on heroku. We're using a scalable MongoDB database that is hosted at MongoHQ. </p>



<h3>Facebook Tunnel</h3>

<p>The entire Facebook Graph API (sans authentication) is exposed at http://openanno.com/fb/ . Getting a graph object from there will pull the object from Facebook and add annotations from our database.</p>

<p>This is an experiment in how we can use openanno as a tunnel to pull information from other APIs while enriching it with our annotation data.</p>

<br>
<h3>Follow-along instructions:</h3>
<ol>
  <li>While logged into Facebook, point your browser to <a href="http://graph.facebook.com/me">http://graph.facebook.com/me</a>.</li>
  <li>Take note of the "id" field in the returned JSON.</li>
  <li>Call `curl http://openanno.com/fb/{your_id}` from the commandline. Since there are no annotations on your Facebook object the result will essentially look the same as before.</li>
  <li>Now call `curl -i -X POST -d '[{"example_type":{"awesome_factor":"10"}}]' http://openanno.com/api/fb_{your_id}`. This posts an annotation to your Facebook profile. Note the fb_ prefix in the id. This is our convention to identify facebook ids</li>
  <li>Call the curl from 3. again. It'll now include the annotations :)</li>
</ol>


<br><br><br><br>


