<h1>Openanno</h1>
<h2>Do something amazing</h2>
<div id="form-div">
<form action="formecho.php" method="post" name="main-form" id="main-form">
  <legend>Request your developer key</legend>
  <p>Your email address: <span class="input-span"><input type="email" placeholder="Enter your email address"></span><br></p>

<input type="submit" value="Request your key">
</form>
</div><!--end of form-div-->