<div id="title"><h2>annotate anything...</h2></div>
<div id="sign-up"><p>sign up to receive a developers key</p></div>
<div id="form-div">
  <%= "<p><b>#{@form_error}</b></p>" if @form_error %>
  <form action="" method="post" name="main-form" id="main-form">
    <input type="email" id="email" size="100" name="email" placeholder="your email">
    <input type="submit" id="submit" value="go!">
  </form>
</div><!--end of form-div-->
  <ul class="accordion">
    <li id="create-slide">
      <h3 class="opener">what's all the buzz?</h3>
      <div class="slide" style="display: none">
        <div class="content">
          <p id="1p">
            Twitter has announced a new property for tweets called <a href="http://groups.google.com/group/twitter-api-announce/browse_thread/thread/fa5da2608865453">annotations</a>.<br><br>
            Annotations <em>enrich</em> tweets in any way you wish (currently up to 512 bytes).That means
            that <em>you</em> are able to extend Twitter in any number of creative ways.
          </p>
        </div>
      </div>
    </li>
    <li id="deploy-slide">
      <h3 class="opener">okay, but how do I use it...</h3>
      <div class="slide" style="display: none">
        <div class="content">
          <p id="2p">
            If you want to start right away, <a href="/#hehe">(once you've got an API key)</a> go to the nifty <a href="">annotation POSTer</a>
            and start adding your own annotations for things.<br><br>
            We've got a <a href="/docs">docs page</a> that will tell you all about it.
            Go take a look and try it out.
          </p>
        </div>
      </div>
    </li>
    <li id="work-slide">
      <h3 class="opener">this is why it matters:</h3>
      <div class="slide" style="display: none">
        <div class="content">
          <p id="3p">
              1) You won't get access to Twitter annotations until later but you can experiment now at <a href="http://openanno.com">openanno.com</a><br><br>
          </p>
        </div>
      </div>
    </li>
  </ul>
