<div id="title"><h2>annotate anything...</h2></div>
<div id="sign-up"><p>sign up to receive a developers key</p></div>
<div id="form-div">
  <%= "<p><b>#{@form_error}</b></p>" if @form_error %>
  <form action="" method="post" name="main-form" id="main-form">
    <input type="email" id="email" size="100" name="email" placeholder="your email">
    <input type="submit" id="submit" value="go!">
  </form>
</div><!--end of form-div-->
  <ul class="accordion">
    <li id="create-slide">
      <h3 class="opener">what's all the buzz?</h3>
      <div class="slide" style="display: none">
        <div class="content">
          <p id="1p">
          </p>
        </div>
      </div>
    </li>
    <li id="deploy-slide">
      <h3 class="opener">okay, but how do I use it...</h3>
      <div class="slide" style="display: none">
        <div class="content">
          <p id="2p">
          </p>
        </div>
      </div>
    </li>
    <li id="work-slide">
      <h3 class="opener">this is why it matters:</h3>
      <div class="slide" style="display: none">
        <div class="content">
          <p id="2p">
          </p>
        </div>
      </div>
    </li>
  </ul>