<h1>Openanno</h1>
<h2>Do something amazing</h2>
<div id="form-div">

<% if @form_error %>

	<p><b><%=@form_error%></b></p>

<% end %>
  <form action="request_api_key" method="post" name="main-form" id="main-form">
    <legend>Request your developer key</legend>
    <p id="email">Your email address:</p>
    <input type="email" name="email" placeholder="Email address"></span><br></p>
    <input type="submit" value="Request your key">
  </form>
</div><!--end of form-div-->
<div id="main-content">
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eu est nunc. Nulla vulputate volutpat leo, ut blandit diam placerat quis. Vestibulum dapibus, tellus ut dignissim sollicitudin, ante magna aliquet turpis, sit amet dignissim libero velit ut nisi.
  </p>
</div><!--end of main-content div-->