<!DOCTYPE html>
<html>
  <head>
    <title>openanno :: annotate anything</title>
    <link  href="/css/style.css" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon"/>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
    <script src="/js/app.js"></script>
  </head>
  <body>
    <div id="container">
    <header>
      <div id="logo"><h1><a href="/"><span>#open</span><span>anno</span></a></h1></div>
        <ul class="nav">
          <li><a href="/docs">docs</a></li>
          <li><a href="http://github.com/deepthawtz/openanno">fork us!</a></li>
        </ul>
    </header>
    <%= yield %>
    </div><!--end of container div-->
  </body>
</html>
