body, html {
	height: 100%;
}
body {
	font-family: "Droid Sans","Helvetica","Arial",sans-serif;
	background-attachment: fixed;
	background-image: -moz-linear-gradient(top, #dedede, #fefefe); /* FF3.6 */
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #dedede),color-stop(1, #fefefe)); /* Saf4+, Chrome */
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#dedede', EndColorStr='#fefefe'); /* IE6,IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#dedede', EndColorStr='#fefefe')"; /* IE8 */
}
pre {
	background: #fff;
	border: #333 solid 1px;
	overflow: scroll;
	padding: 20px;
	font-family: "Inconsolata","Espresso Mono","Bitstream Vera","Monaco","Courier New",monospace;
}
#site {
	width: 960px;
	margin: 0 auto;
}
hgroup {
	width: 640px;
	float: left;
}
h1 {
	width: 640px;
	margin-left: 85px;
}
h1,
h1 a {
	color: rgba(102,152,5,1);
	text-shadow: 1px 1px 1px #2f4505;
	text-decoration: none;
}
h1 a:hover {
	color: rgba(133,188,7,1);
}
a {
	color: #777;
	text-decoration: none;
}
a:hover {
	color: #669805;
}
.mf-dark {
	color: rgba(102,152,5,1);
}
.mf-mid {
	color: rgba(133,188,7,1);
}
.mf-light {
	color: rgba(167,220,20,1);
}
h2 {
	color: #333;
	text-shadow: 1px 1px 1px #2f4505;
	font-size: 26px;
	line-height: 28px;
	width: 640px;
	margin-left: 85px;
}
nav {
	float: right;
	width: 300px;
	padding: 0px;
}
nav ul,
nav ul li {
	padding: 0px;
	text-align: right;
}
nav ul li {
	display: inline-block;
	list-style: none;
}
button[type="submit"] {
	font-size: 24px;
	color: #efefef;
	cursor: pointer;
	padding: 5px;
	text-shadow: 1px 1px 1px #a1a1a1;
	-moz-border-radius: 8px; /* FF1+ */
	-webkit-border-radius: 8px; /* Saf3+, Chrome */
	border-radius: 8px; /* Opera 10.5, IE 9 */
	text-shadow: 1px 1px 1px #2f4505;
	border: 1px solid #333;
	text-decoration: none;
	font-weight: bold;
	-moz-box-shadow: 0px 0px 1px #000; /* FF3.5+ */
	-webkit-box-shadow: 0px 0px 1px #000; /* Saf3.0+, Chrome */
	box-shadow: 0px 0px 1px #000; /* Opera 10.5, IE 9.0 */
	background-image: -moz-linear-gradient(top, #666, #151515); /* FF3.6 */
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #666),color-stop(1, #151515)); /* Saf4+, Chrome */
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#666', EndColorStr='#151515'); /* IE6,IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#666', EndColorStr='#151515')"; /* IE8 */
}
nav ul li a,
fieldset a {
	color: #efefef;
	padding: 5px;
	text-shadow: 1px 1px 1px #a1a1a1;
	-moz-border-radius: 8px; /* FF1+ */
	-webkit-border-radius: 8px; /* Saf3+, Chrome */
	border-radius: 8px; /* Opera 10.5, IE 9 */
	text-shadow: 1px 1px 1px #2f4505;
	border: 1px solid #333;
	text-decoration: none;
	-moz-box-shadow: 0px 0px 1px #000; /* FF3.5+ */
	-webkit-box-shadow: 0px 0px 1px #000; /* Saf3.0+, Chrome */
	box-shadow: 0px 0px 1px #000; /* Opera 10.5, IE 9.0 */
	background-image: -moz-linear-gradient(top, #666, #151515); /* FF3.6 */
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #666),color-stop(1, #151515)); /* Saf4+, Chrome */
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#666', EndColorStr='#151515'); /* IE6,IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#666', EndColorStr='#151515')"; /* IE8 */
}
nav ul li a:hover,
fieldset a:hover,
button[type="submit"]:hover {
	color: #fff;
	border: 1px solid #2f4505;
	-moz-box-shadow: 0px 0px 2px #a8dd15; /* FF3.5+ */
	-webkit-box-shadow: 0px 0px 2px #a8dd15; /* Saf3.0+, Chrome */
	box-shadow: 0px 0px 2px #a8dd15; /* Opera 10.5, IE 9.0 */
	background-image: -moz-linear-gradient(top, #4f613f, #223218); /* FF3.6 */
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #4f613f),color-stop(1, #223218)); /* Saf4+, Chrome */
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#4f613f', EndColorStr='#223218'); /* IE6,IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#4f613f', EndColorStr='#223218')"; /* IE8 */
}
section {
	clear: both;
}
section#annotator {
	margin-left: 85px;
	width: 500px;
}
fieldset {
	margin: 10px;
	border: 2px solid #333;
	-moz-border-radius: 8px; /* FF1+ */
	-webkit-border-radius: 8px; /* Saf3+, Chrome */
	border-radius: 8px; /* Opera 10.5, IE 9 */
}
fieldset legend {
	padding: 8px;
	border: 1px #333 solid;
	color: #182304;
	text-shadow: 1px 1px 1px #a8dd15;
	-moz-border-radius: 8px; /* FF1+ */
	-webkit-border-radius: 8px; /* Saf3+, Chrome */
	border-radius: 8px; /* Opera 10.5, IE 9 */
	background-image: -moz-linear-gradient(top, #679a06, #a8dd15); /* FF3.6 */
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #679a06),color-stop(1, #a8dd15)); /* Saf4+, Chrome */
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#679a06', EndColorStr='#a8dd15'); /* IE6,IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#679a06', EndColorStr='#a8dd15')"; /* IE8 */
}
th, td {
	text-align: center;
}
.index {
	width: 14%;
}
.attribute,
.value {
	width: 35%;
}
.geoData label {
	display: block;
	padding-top: 10px;
}
#geoDataResults ul {
	padding: 0px;
	list-style: none;
}
#geoDataResults ul li {
	padding: 10px 0px;
	color: #999;
	list-style: none;
}
#whatsLeft {
	position: fixed;
	top: 50%;
	left: 0px;
	height: 134px;
	margin-top: -75px;
	width: 74px;
	background: #333;
	-moz-border-radius-topright: 8px;
	-webkit-border-top-right-radius: 8px;
	-moz-border-radius-bottomright: 8px;
	-webkit-border-bottom-right-radius: 8px;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	background-image: -moz-linear-gradient(top, #679a06, #a8dd15); /* FF3.6 */
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #679a06),color-stop(1, #a8dd15)); /* Saf4+, Chrome */
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#679a06', EndColorStr='#a8dd15'); /* IE6,IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#679a06', EndColorStr='#a8dd15')"; /* IE8 */
	padding: 8px;
	border: 1px #333 solid;
}
#whatsLeft ul,
#whatsLeft ul li {
	padding: 0px;
	font-size: 12px;
	text-align: center;
	color: #333;
	text-shadow: 1px 1px 1px #a8dd15;
}
#whatsLeft span {
	display: block;
	font-size: 20px;
	padding: 5px;
	color: #182304;
}
textarea {
	width: 440px;
	height: 100px;
}
textarea,
input[type="text"] {
	padding: 4px;
	border: 1px #333 solid;
	-moz-border-radius: 8px; /* FF1+ */
	-webkit-border-radius: 8px; /* Saf3+, Chrome */
	border-radius: 8px; /* Opera 10.5, IE 9 */
}
textarea:focus,
input[type="text"]:focus {
	border: 1px #2f4505 solid;
	-moz-box-shadow: 0px 0px 2px #a8dd15; /* FF3.5+ */
	-webkit-box-shadow: 0px 0px 2px #a8dd15; /* Saf3.0+, Chrome */
	box-shadow: 0px 0px 2px #a8dd15; /* Opera 10.5, IE 9.0 */
}
.loggedIn {
	clear: none;
	width: 300px;
	float: right;
	font-size: 12px;
	text-align: right;
}
.buttonContain {
	text-align: center;
}