button[type="submit"] {
	font-size: 24px;
	color: #efefef;
	cursor: pointer;
	padding: 5px;
	text-shadow: 1px 1px 1px #a1a1a1;
	-moz-border-radius: 8px; /* FF1+ */
	-webkit-border-radius: 8px; /* Saf3+, Chrome */
	border-radius: 8px; /* Opera 10.5, IE 9 */
	text-shadow: 1px 1px 1px #051145;
	border: 1px solid #333;
	text-decoration: none;
	font-weight: bold;
	-moz-box-shadow: 0px 0px 1px #000; /* FF3.5+ */
	-webkit-box-shadow: 0px 0px 1px #000; /* Saf3.0+, Chrome */
	box-shadow: 0px 0px 1px #000; /* Opera 10.5, IE 9.0 */
	background-image: -moz-linear-gradient(top, #666, #151515); /* FF3.6 */
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #666),color-stop(1, #151515)); /* Saf4+, Chrome */
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#666', EndColorStr='#151515'); /* IE6,IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#666', EndColorStr='#151515')"; /* IE8 */
}
nav ul li a,
fieldset a {
	color: #efefef;
	padding: 5px;
	text-shadow: 1px 1px 1px #a1a1a1;
	-moz-border-radius: 8px; /* FF1+ */
	-webkit-border-radius: 8px; /* Saf3+, Chrome */
	border-radius: 8px; /* Opera 10.5, IE 9 */
	text-shadow: 1px 1px 1px #051145;
	border: 1px solid #333;
	text-decoration: none;
	-moz-box-shadow: 0px 0px 1px #000; /* FF3.5+ */
	-webkit-box-shadow: 0px 0px 1px #000; /* Saf3.0+, Chrome */
	box-shadow: 0px 0px 1px #000; /* Opera 10.5, IE 9.0 */
	background-image: -moz-linear-gradient(top, #666, #151515); /* FF3.6 */
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #666),color-stop(1, #151515)); /* Saf4+, Chrome */
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#666', EndColorStr='#151515'); /* IE6,IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#666', EndColorStr='#151515')"; /* IE8 */
}
nav ul li a:hover,
fieldset a:hover,
button[type="submit"]:hover {
	color: #fff;
	border: 1px solid #051145;
	-moz-box-shadow: 0px 0px 2px #0A81FF; /* FF3.5+ */
	-webkit-box-shadow: 0px 0px 2px #0A81FF; /* Saf3.0+, Chrome */
	box-shadow: 0px 0px 2px #0A81FF; /* Opera 10.5, IE 9.0 */
	background-image: -moz-linear-gradient(top, #3f5361, #181f32); /* FF3.6 */
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #3f5361),color-stop(1, #181f32)); /* Saf4+, Chrome */
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#3f5361', EndColorStr='#181f32'); /* IE6,IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#3f5361', EndColorStr='#181f32')"; /* IE8 */
}
section {
	clear: both;
}
section#annotator {
	margin-left: 85px;
	width: 500px;
}
fieldset {
	margin: 10px;
	border: 2px solid #333;
	-moz-border-radius: 8px; /* FF1+ */
	-webkit-border-radius: 8px; /* Saf3+, Chrome */
	border-radius: 8px; /* Opera 10.5, IE 9 */
}
fieldset legend {
	padding: 8px;
	border: 1px #333 solid;
	color: #040b23;
	text-shadow: 1px 1px 1px #0A81FF;
	-moz-border-radius: 8px; /* FF1+ */
	-webkit-border-radius: 8px; /* Saf3+, Chrome */
	border-radius: 8px; /* Opera 10.5, IE 9 */
	background-image: -moz-linear-gradient(top, #0e70d7, #0A81FF); /* FF3.6 */
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #0e70d7),color-stop(1, #0A81FF)); /* Saf4+, Chrome */
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#0e70d7', EndColorStr='#0A81FF'); /* IE6,IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#0e70d7', EndColorStr='#0A81FF')"; /* IE8 */
}
th, td {
	text-align: center;
}
.index {
	width: 14%;
}
.attribute,
.value {
	width: 35%;
}
.geoData label {
	display: block;
	padding-top: 10px;
}
#geoDataResults ul {
	padding: 0px;
	list-style: none;
}
#geoDataResults ul li {
	padding: 10px 0px;
	color: #999;
	list-style: none;
}
#whatsLeft {
	position: fixed;
	top: 50%;
	left: 0px;
	height: 134px;
	margin-top: -75px;
	width: 74px;
	background: #333;
	-moz-border-radius-topright: 8px;
	-webkit-border-top-right-radius: 8px;
	-moz-border-radius-bottomright: 8px;
	-webkit-border-bottom-right-radius: 8px;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	background-image: -moz-linear-gradient(top, #0e70d7, #0A81FF); /* FF3.6 */
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #0e70d7),color-stop(1, #0A81FF)); /* Saf4+, Chrome */
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#0e70d7', EndColorStr='#0A81FF'); /* IE6,IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#0e70d7', EndColorStr='#0A81FF')"; /* IE8 */
	padding: 8px;
	border: 1px #333 solid;
}
#whatsLeft ul,
#whatsLeft ul li {
	padding: 0px;
	font-size: 12px;
	text-align: center;
	color: #333;
	text-shadow: 1px 1px 1px #0A81FF;
}
textarea {
	width: 440px;
	height: 100px;
}
textarea,
input[type="text"] {
	padding: 4px;
	border: 1px #333 solid;
	-moz-border-radius: 8px; /* FF1+ */
	-webkit-border-radius: 8px; /* Saf3+, Chrome */
	border-radius: 8px; /* Opera 10.5, IE 9 */
}
textarea:focus,
input[type="text"]:focus {
	border: 1px #051145 solid;
	-moz-box-shadow: 0px 0px 2px #0A81FF; /* FF3.5+ */
	-webkit-box-shadow: 0px 0px 2px #0A81FF; /* Saf3.0+, Chrome */
	box-shadow: 0px 0px 2px #0A81FF; /* Opera 10.5, IE 9.0 */
}
.loggedIn {
	clear: none;
	width: 300px;
	float: right;
	font-size: 12px;
	text-align: right;
}
.buttonContain {
	text-align: center;
}