*{
margin:0;
padding:0;
}

a { text-decoration:none;}

@font-face {
  font-family: 'RockwellStdRegular';
  src: url('rockwellstd-webfont.eot');
  src: local('☺'), url('rockwellstd-webfont.woff') format('woff'), url('rockwellstd-webfont.ttf') format('truetype'), url('rockwellstd-webfont.svg#webfontPgH5H24O') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "RockwellStdLight";
  src: url('RockwellStdLight.otf');
}

body{
  font-family: 'RockwellStdRegular';
  color:#999;
  padding:30px 0;
}

header {
  display:block;
  overflow:hidden;
  border-bottom:1px solid #ccc;
}

#container{
  width:700px;
  margin:auto;
}

h1 {font-size:2em;font-style:italic;}

h1 a > span { font-weight:bold; }

h1 a > span + span { font-family:"RockwellStdLight";font-weight:100; }

h1 a { color:#333; }

h2{
  font-size:5em;
  color:#0A81FF;
  margin-top:20px;
  margin-bottom:-20px;
  letter-spacing:-4px;
}
pre {font-family:"Monaco";padding:12px;background:#F8FFDA;margin:20px;}
#title{
  margin-top:2px;
  border-top:2px solid #ccc;
}

#sign-up > p {
  font-size:1.75em;
  margin-bottom:10px;
  margin-top:30px;
  color:#666;
}

#form-div{
  font-size:.8em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  position:relative;
}

#form-div > p:first-child > b {
  position:absolute;
  bottom:-25px;
  color:red;
  font-family:"Helvetica", "Lucida Grande", sans-serif;font-size:11px;
}

#email{
  -moz-border-radius:5px 5px 5px 5px;
  display:block;
  font-size:3em;
  height:45px;
  margin-bottom:10px;
  padding:0 0 10px 20px;
  width:579px;
  font-family:"RockwellStd", serif;
  line-height:50px;
}

input::-webkit-input-placeholder { color:#ccc;line-height:65px;}

#submit{
  width:100px;
  height:59px;
  background-color:#ccc;
  color:#333;
  text-shadow:0 1px 0 #fff;
  position:absolute;
  top:0;
  right:-2px;
  background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ccc));
  background: -moz-linear-gradient(-90deg, #eee, #ccc);
  border:1px solid red;
  -moz-border-radius: 5px;
  -moz-border-radius-bottomleft:0;
  -moz-border-radius-topleft:0;
  height:100%;
  border-top:1px solid #ccc;
  border-left:1px solid #ccc;
  border-right:1px solid #999;
  border-bottom:1px solid #999;
  font-size:2em;
}

#logo{
  width:40%;
  float:left;
}

.italic{
  font-style:italic;
  font-weight:bold;
  margin-right:2px;
}

#lightest{
  font-weight:100;
  font-style:italic;
}

.clear-both {
  clear:both;
  margin-top:60px;
}

.nav {
	float:right;
	padding-top:12px;
}

.nav li {
  display:inline;
}

.nav li a {
  color:#ccc;
  float:right;
  margin-left:25px;
  text-decoration:none;
}


h3{
font-size:2em;
font-weight:100;
}
.accordion li { color:#333; }
.accordion li + li { margin-top:10px; }
h3 a {
  color:#b5894f;
  text-decoration:none;
}

p{
  color:#9c9c9c;
  font-family:"RockwellStdLight";
}
ul{
  list-style-type:none;
}

ul h3{
  color:#ED903E;
}
li.anno {
  padding:12px;
}
.accordion{
margin-top:50px;
}

.flash {
	color: #2a2;
	font-weight: bold;
	font-size: 1.2em;
	padding: 40px;
	padding-top: 0px;
}